@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,800&display=swap');

.bxs-natural {
  box-shadow: 0 2.8px 2.2px rgba(56, 56, 56, 0.034),
    0 6.7px 5.3px rgba(56, 56, 56, 0.048), 0 12.5px 10px rgba(56, 56, 56, 0.06),
    0 22.3px 17.9px rgba(56, 56, 56, 0.072), 0 41.8px 33.4px rgba(56, 56, 56, 0.086),
    0 100px 80px rgba(56, 56, 56, 0.12);
}

.font-raleway {
  font-family: 'Raleway', Verdana, Tahoma, sans-serif;
}

.currency-list {
  height: calc(3.5rem * 5);
}

body {
  color: white;
  background-color: rgb(33, 37, 41);
}

.rounded-circle {
  border-radius: 50%;
}
